@model Lcgoc.Web.Areas.Admin.Models.LoginModel
@{
    ViewBag.Title = "登录";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    @Styles.Render("~/Areas/Admin/Content/bower_components/bootstrap/dist/css/bootstrap.min.css")
    <!-- Font Awesome -->
    @Styles.Render("~/Areas/Admin/Content/bower_components/font-awesome/css/font-awesome.min.css")
    <!-- Ionicons -->
    @Styles.Render("~/Areas/Admin/Content/bower_components/Ionicons/css/ionicons.min.css")
    <!-- Theme style -->
    @Styles.Render("~/Areas/Admin/Content/dist/css/AdminLTE.min.css")
    <!-- iCheck -->
    @Styles.Render("~/Areas/Admin/Content/plugins/iCheck/square/blue.css")

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <!-- /.login-logo -->
        <div class="login-logo">
            <a href="javascript:void()">@Lcgoc.Web.WebConfig.AdminName</a>
        </div>
        <div class="login-box-body">
            <p class="login-box-msg">登录系统</p>
            @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
            {
                @Html.AntiForgeryToken()
                <div class="form-group has-feedback">
                    <input name="email" type="email" class="form-control" placeholder="邮箱">
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input name="password" type="password" class="form-control" placeholder="密码">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="checkbox icheck">
                            <label>
                                <input name="rememberMe" type="checkbox">
                                记住密码
                            </label>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">登 录</button>
                    </div>
                    <!-- /.col -->
                </div>
            }
            <div class="social-auth-links text-center">
                <p>- OR -</p>
                <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i>用微信登录</a>
            </div>
            <!-- /.social-auth-links -->

            <a href="#">忘记密码</a><br>
            <a href="register.html" class="text-center">注册新账号</a>

        </div>
        <!-- /.login-box-body -->
    </div>
    <!-- /.login-box -->

    <!-- jQuery 3 -->
    @Scripts.Render("~/Areas/Admin/Content/bower_components/jquery/dist/jquery.min.js")
    <!-- Bootstrap 3.3.7 -->
    @Scripts.Render("~/Areas/Admin/Content/bower_components/bootstrap/dist/js/bootstrap.min.js")
    <!-- iCheck -->
    @Scripts.Render("~/Areas/Admin/Content/plugins/iCheck/icheck.min.js")
    <script>
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
        });
    </script>
</body>
</html>

