<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    @Styles.Render("~/Areas/Admin/Content/bower_components/bootstrap/dist/css/bootstrap.min.css")
    <!-- Font Awesome -->
    @Styles.Render("~/Areas/Admin/Content/bower_components/font-awesome/css/font-awesome.min.css")
    <!-- Ionicons -->
    @Styles.Render("~/Areas/Admin/Content/bower_components/Ionicons/css/ionicons.min.css")
    <!-- Theme style -->
    @Styles.Render("~/Areas/Admin/Content/dist/css/AdminLTE.min.css")
    <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
    @Styles.Render("~/Areas/Admin/Content/dist/css/skins/_all-skins.min.css")
    <!-- bootstrap wysihtml5 - text editor -->
    @Styles.Render("~/Areas/Admin/Content/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css")
    <!-- toastr -->
    @Styles.Render("~/Areas/Admin/Content/toastr/toastr.css")

    <!-- Google Font -->
    @*<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">*@
    <style>
        .preloader {
            display: none;
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            background: #ebebeb;
            z-index: 2000;
        }

        .devoops-getdata {
            position: absolute;
            top: 25px;
            left: 15px;
            color: #ebebeb;
        }

        #ajax-content {
            overflow: auto;
        }
    </style>
    <!-- jQuery 3 -->
    @Scripts.Render("~/Areas/Admin/Content/bower_components/jquery/dist/jquery.min.js")
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        @Html.Partial("_Header")
        <!-- Left side column. contains the logo and sidebar -->
        @Html.Partial("_Left")
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <div class="preloader">
                <img src="@Url.Content("~/Areas/Admin/Img/devoops_getdata.gif")" class="devoops-getdata" alt="preloader" />
            </div>
            <div id="ajax-content">@RenderBody()</div>
        </div>
        <!-- /.content-wrapper -->
        @*@Html.Partial("_footer")*@
        <!-- Control Sidebar -->
        @*@Html.Partial("_right")*@
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->
    <!-- jQuery UI 1.11.4 -->
    @Scripts.Render("~/Areas/Admin/Content/bower_components/jquery-ui/jquery-ui.min.js")
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip 使用Bootstrap工具提示解决jQuery UI工具提示中的冲突-->
    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>
    <!-- Bootstrap 3.3.7 -->
    @Scripts.Render("~/Areas/Admin/Content/bower_components/bootstrap/dist/js/bootstrap.min.js")
    <!-- Bootstrap WYSIHTML5 -->
    @Scripts.Render("~/Areas/Admin/Content/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js")
    <!-- FastClick 移动浏览器触发元素的click事件会有大约 300 毫秒的等待时间，去除等待时间-->
    @Scripts.Render("~/Areas/Admin/Content/bower_components/fastclick/lib/fastclick.js")
    <!--moment 日期处理类库，转换日期格式-->
    @Scripts.Render("~/Areas/Admin/Content/bower_components/moment/min/moment.min.js")
    <!-- AdminLTE App -->
    @Scripts.Render("~/Areas/Admin/Content/dist/js/adminlte.min.js")
    <!-- 路由 -->
    @*@Scripts.Render("~/Areas/Admin/Scripts/Route/RouteHelper.js")*@
    <!-- AdminLTE for demo purposes -->
    @*@Scripts.Render("~/Areas/Admin/Content/dist/js/demo.js")*@
    <!-- toastr提示框 -->
    @Scripts.Render("~/Areas/Admin/Content/toastr/toastr.min.js")
    <!-- Ewin询问框 -->
    @Scripts.Render("~/Areas/Admin/Content/toastr/Ewin.js")
</body>
</html>
