@model Lcgoc.Web.Models.ModuleModel
@{
    ViewBag.Title = Model.module.moduleName;
    var mainQueryAction = Model.actions.Where(n => n.modlueActionType == "mainQuery").FirstOrDefault();
}
@section Styles{
    @Styles.Render("~/Areas/Admin/Content/bootstrap-table/bootstrap-table.css")
}
<div class="panel-body" style="padding-bottom: 0px;">
    <div class="panel panel-default">
        <div class="panel-heading">查询条件</div>
        @if (Model.query != null && Model.query.Count() > 0)
        {
            <div class="panel-body">
                <form id="formSearch" class="form-horizontal">
                    <div class="form-group" style="margin-top: 15px">
                        @foreach (var item in Model.query)
                        {
                            <label class="control-label col-sm-1" for="@item.queryCode">@item.queryName</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" id="@("txt_"+item.queryCode)">
                            </div>
                        }
                    </div>
                </form>
            </div>
        }
    </div>

    @if (Model.actions != null && Model.actions.Count() > 0)
    {
        <div id="toolbar" class="btn-group">
            @foreach (var item in Model.actions)
            {
                <button id="@("toolbar_"+item.actionCode)" type="button" class="btn btn-default" dialog="@item.dialog.ToString()" actionCode="@item.actionCode">
                    <span class="glyphicon @item.glyphicon" aria-hidden="true"></span>@item.actionName
                </button>
            }
        </div>
    }
    <table id="tb_departments"></table>
</div>

@foreach (var item in Model.actions)
{
    if (item.dialog)
    {
        var columns = Model.columns.Where(n => n.moduleCode == Model.module.moduleCode && n.actionCode == item.actionCode);
        <div class="modal fade" id="@("dialog" + item.actionCode)" tabindex="-1" role="dialog" aria-labelledby="@("modalLabel" + item.actionCode)">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <h4 class="modal-title" id="@("modalLabel" + item.actionCode)">@item.actionName</h4>
                    </div>
                    <div class="modal-body">
                        @foreach (var iCloumn in columns)
                        {
                            <div class="form-group has-feedback">
                                @if (iCloumn.@typeof == "bool")
                                {
                                    <label class="form-check-label"><input type="checkbox" class="form-check-input" value="" id="@(item.actionCode + iCloumn.columnCode)" />@iCloumn.columnName</label>
                                }
                                else
                                {
                                    <input type="text" class="form-control" id="@(item.actionCode + iCloumn.columnCode)" placeholder="@iCloumn.columnName" />
                                    <span class="glyphicon form-control-feedback @item.glyphicon"></span>
                                }
                            </div>
                        }
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>关闭</button>
                        <button type="button" id="@("dialog_submit_" + item.actionCode)" class="btn btn-primary" data-dismiss="modal" apiUrl="@item.apiUrl" actionCode="@item.actionCode"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>@item.actionName</button>
                    </div>
                </div>
            </div>
        </div>
    }
}
@section Scripts{
    @Scripts.Render("~/Areas/Admin/Content/bootstrap-table/bootstrap-table.js")
    @Scripts.Render("~/Areas/Admin/Content/bootstrap-table/locale/bootstrap-table-zh-CN.js")
    @Scripts.Render("~/Areas/Admin/Scripts/Module/Index.js")
    <script>
        function operateFormatterBool(value, row, index) {
            if (value)
                return '<input type="checkbox" checked/>';
            else
                return '<input type="checkbox" />';
        }

        @{
            //表格初始化
            var initTable = string.Format("new TableInit('tb_departments', '{0}', '{1}', '{2}',", mainQueryAction.apiUrl, Model.module.minimumCountColumns,Model.module.tableHeight);
            initTable += "[{checkbox: true},";
            foreach (var item in Model.columns.Where(n=>n.moduleCode== mainQueryAction.moduleCode && n.actionCode== mainQueryAction.actionCode))
            {
                initTable += "{field:'"+ item.columnCode + "',title: '"+ item.columnName + "'"+(item.@typeof=="bool"? ",formatter: operateFormatterBool" : "") +"},";
            }
            initTable = initTable.Substring(0, initTable.Length - 1);
            initTable += "]";
            initTable += ", function (e) {";
            //initTable += "return {pageSize: e.limit,pageIndex: e.offset,module:'"+ mainQueryAction.moduleCode + "',actionCode:'"+ mainQueryAction.actionCode + "',";
            initTable += "return {pageSize: e.limit,pageIndex: e.offset,";
            foreach (var item in Model.query)
            {
                initTable += ""+ item.queryCode + ":$('#txt_"+ item.queryCode + "').val(),";
            }
            initTable = initTable.Substring(0, initTable.Length - 1);
            initTable += "}});";
            //end

            //按钮弹窗初始化
            List<string> buttonInits = new List<string>();
            var ajaxPost = "$.ajax({{type: 'post',url: '{0}',data: postdata,success: function (data, status) {{if (data.Status) {{toastr.success('提交数据成功');$('#tb_departments').bootstrapTable('refresh');}}}},error: function () {{toastr.error('Error');}}}});";
            foreach (var item in Model.actions)
            {
                var toolbarButton = "$('#toolbar_{0}').click(function () {{";
                var submit = "$('#dialog_submit_{0}').click(function () {{";
                toolbarButton = string.Format(toolbarButton, item.actionCode);
                submit = string.Format(submit, item.actionCode);
                switch (item.modlueActionType) {
                    case "add":
                        foreach (var itemc in Model.columns.Where(n => n.moduleCode == item.moduleCode && n.actionCode == item.actionCode))
                        {
                            submit += "postdata." + itemc.columnCode + " = $('#" + item.actionCode + itemc.columnCode + "').val();";
                            toolbarButton += "postdata." + itemc.columnCode + " = '';";
                        }
                        submit += string.Format(ajaxPost, item.apiUrl) + "});";
                        toolbarButton += "$('#dialog" + item.actionCode + "').find('.form-control').val('');";
                        toolbarButton += "$('#dialog" + item.actionCode + "').modal();});";
                        break;
                    case "delete":
                        toolbarButton += "var arrselections = $('#tb_departments').bootstrapTable('getSelections');if (arrselections.length <= 0) {toastr.warning('请选择有效数据');return;}postdata.lists = [];";
                        toolbarButton += "$(arrselections).each(function (i, item) {";
                        var objJson = "{";
                        foreach (var itemc in Model.columns.Where(n => n.moduleCode == item.moduleCode && n.actionCode == item.actionCode))
                        {
                            if (itemc.keyword)
                            {
                                toolbarButton += "" + itemc.columnCode + " : arrselections[0]." + itemc.columnCode + ",";
                            }
                        }
                        objJson += "}";
                        toolbarButton += string.Format("postdata.lists.pop({0})", objJson);
                        toolbarButton += "});"+ string.Format("Ewin.confirm({{ message: '确认要删除选择的数据吗？' }}).on(function (e) {{if (!e) {{return;}}{0}}});",string.Format(ajaxPost, item.apiUrl));
                        toolbarButton += "});";
                        break;
                    case "edit": {
                            toolbarButton += "var arrselections = $('#tb_departments').bootstrapTable('getSelections');if (arrselections.length > 1) { toastr.warning('只能选择一行进行编辑'); return; }if (arrselections.length <= 0) { toastr.warning('请选择有效数据'); return; }";
                            foreach (var itemc in Model.columns.Where(n=>n.moduleCode==item.moduleCode && n.actionCode==item.actionCode))
                            {
                                if (itemc.keyword)
                                {
                                    toolbarButton += "postdata." + itemc.columnCode + "_keyword = arrselections[0]." + itemc.columnCode + ";";
                                }
                                else
                                {
                                    if (itemc.@typeof == "bool")
                                    {
                                        toolbarButton += "$('#" + item.actionCode + itemc.columnCode + "').prop('checked',arrselections[0]." + itemc.columnCode + ");";
                                        submit += "postdata." + itemc.columnCode + " = $('#" + item.actionCode + itemc.columnCode + "').prop('checked');";
                                    }
                                    else
                                    {
                                        toolbarButton += "$('#" + item.actionCode + itemc.columnCode + "').val(arrselections[0]." + itemc.columnCode + ");";
                                        submit += "postdata." + itemc.columnCode + " = $('#" + item.actionCode + itemc.columnCode + "').val();";
                                    }
                                }
                            }
                            toolbarButton += "$('#dialog"+ item.actionCode + "').modal();});";
                            submit += string.Format(ajaxPost, item.apiUrl) + "});";
                        } break;
                    case "mainQuery":
                        toolbarButton += "$('#tb_departments').bootstrapTable('refresh');});";
                        break;
                    default:
                        toolbarButton += "});";
                        break;
                }
                buttonInits.Add(toolbarButton);
                if (item.dialog) {
                    buttonInits.Add(submit);
                }
            }
            }

        //1.初始化Table
        @Html.Raw(initTable);

        (function () {
            var postdata = {};
            @Html.Raw(string.Join("", buttonInits));
        })();

    </script>
}
